<table>
  <tr>
    <th>Location</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.location %></td>
      <td><%= item.description %></td>
      <td><%= number_to_currency(item.price) %></td>
    </tr>
  <% end %>

</table>
<%= form_tag(vend_path, :method => 'get') do %>
  <%= label_tag(:location, "Location") %>
  <%= text_field_tag(:location) %>
  <%= hidden_field_tag(:currentBalance, "0") %>
  <%= submit_tag("Vend") %>
<% end %>

